*~
*.bak

#PNP 
build
PNP/lib
PNP/src/parser/ConditionScanner.cpp

#PNPros
bin
PNPros/msg/PNPAction.msg
PNPros/msg/PNPActionFeedback.msg
PNPros/msg/PNPActionGoal.msg
PNPros/msg/PNPActionResult.msg
PNPros/msg/PNPFeedback.msg
PNPros/msg/PNPGoal.msg
PNPros/msg/PNPResult.msg
PNPros/src/PNPros
msg_gen
srv_gen
PNPros/lib/

#Jarp
Jarp/jarp.properties

