<launch>
	<arg name="multirobot" default="false" />

	<param name="/use_sim_time" value="true"/>  

    <!-- Single robot -->

    <group unless="$(arg multirobot)">

	  <node pkg="stage_ros" type="stageros" name="stageros" 
            args="$(find rp_demo)/maps/dis-B1.world" respawn="false">
	      <param name="base_watchdog_timeout" value="0.2"/>
	      <remap from="base_scan" to="scan" />
      </node>

    </group>


    <!-- Multi-robot -->

    <group if="$(arg multirobot)">

	  <node pkg="stage_ros" type="stageros" name="stageros" 
            args="$(find rp_demo)/maps/dis-B1_4robots.world" respawn="false">
	    <param name="base_watchdog_timeout" value="0.2"/>

	    <remap from="/robot_0/base_scan" to="/robot_0/scan" />
	    <remap from="/robot_1/base_scan" to="/robot_1/scan" />
	    <remap from="/robot_2/base_scan" to="/robot_2/scan" />
	    <remap from="/robot_3/base_scan" to="/robot_3/scan" />

	  </node>

    </group>


</launch>

