<launch>
    
    <arg name="robotname" default="robot_0" />
    <arg name="planname" default="stop" />
    <arg name="use_gui" default="false" />
    
    <group ns="$(arg robotname)">
        <param name="robot_name" value="$(arg robotname)" />
        <param name="tf_prefix" value="$(arg robotname)" />

        <node pkg="rp_action" type="mypnpas" name="pnpas" args="" output="screen" />

        <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen">
            <param name="plan_folder" value="$(find pnp_ros)/plans/" />
            <param name="current_plan" value="$(arg planname)" />
            <param name="use_java_connection" value="$(arg use_gui)" />
        </node>

    </group>
</launch>

