<launch>
	<arg name="multirobot" default="false" />    
    <arg name="robotname" default="none" />
    <arg name="planname" default="stop" />
    <arg name="use_gui" default="false" />
    
    <!-- Single robot -->

    <group unless="$(arg multirobot)">
        <param name="robot_name" value="$(arg robotname)" />

        <node pkg="rp_pnp" type="mypnpas" name="pnpas" args="" output="screen" />

        <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen">
            <param name="plan_folder" value="$(find rp_pnp)/plans/" />
            <param name="current_plan" value="$(arg planname)" />
            <param name="use_java_connection" value="$(arg use_gui)" />
        </node>

    </group>


    <!-- Multi-robot -->

    <group ns="$(arg robotname)" if="$(arg multirobot)">
        <param name="robot_name" value="$(arg robotname)" />
        <param name="tf_prefix" value="$(arg robotname)" />

        <node pkg="rp_pnp" type="mypnpas" name="pnpas" args="" output="screen" />

        <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen">
            <param name="plan_folder" value="$(find rp_pnp)/plans/" />
            <param name="current_plan" value="$(arg planname)" />
            <param name="use_java_connection" value="$(arg use_gui)" />
        </node>

    </group>

</launch>

